h3 {
    color:orange;
}

#error{
color:red;
}
.navbar{
    background: rgb(2, 74, 122) ;
}

body {
    position: relative; 
}

#section0 {padding-top:50px;height:100%;color: #fff; background-color: black; }

#section1 {padding-top:50px;height:100%;color: #fff; background-image: linear-gradient(-90deg,#1c1c1c, #0a0a0a, #1c1c1c);}

#section2 {padding-top:50px;height:100vh;color: #fff; background-color: black;}

#section3 {padding-top:50px;height:100vh;color: #fff; background-image: linear-gradient(-90deg,#656565, #0a0a0a, #1c1c1c);}

@media only screen and (max-width: 1165px) {
    #section1 {padding-top:50px;height:100%;color: #fff; background-image: linear-gradient(-90deg,#1c1c1c, #0a0a0a, #1c1c1c);}
    #section2 {padding-top:50px;height:100%;color: #fff; background-color: black;}
  }
  #homePage{
    width: 100%;    
    text-align: center;
    height:100%;    
   
  }
 
  #newsPage{
        
    width: 100%;
    height:100%;
    text-align: center;    
      
  }
  
  #games{
    width: 100%;
    text-align: center;
    height: calc(100% - 200px);
    overflow-y: auto;
    
    }
    .card{
        color:black;
        text-align: left;
    }

  
  #icons{
      font-size: 30px;
  }
  #nav-name{
      color: #52D1DC;
      font-size: 40px;
      font-weight: 900;
      letter-spacing: 3px;
      font-variant: small-caps;
      margin-bottom: 10px;
  }
  
   
  a{
      color: #4DCCBD;
  }

  b{
    color:#E98A15;
  }
  
  a:hover{
      color: #2374AB;
      font-weight: 700;
  }
  
  

  #contactInfo{
      margin: 0 auto 0 auto;
      width:300px;
      text-align: center;
  }

  #email{
    color:#E98A15;
    font-weight: 700;
    margin-top:90px;
    font-size: 20px;
  }